Source: librg-utils-perl
Section: perl
Priority: extra
Maintainer: Guy Yachdav <gyachdav@rostlab.org>
Uploaders: Laszlo Kajan <lkajan@rostlab.org>
Build-Depends: debhelper (>= 7), perl (>= 5.8.0-7)
Standards-Version: 3.9.1
Homepage: http://rostlab.org/

Package: librg-utils-perl
Architecture: all
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, profphd-utils, psic
Recommends: clustalw
Description:  a set of wrappers and conversion utilities for bioinformatics databases
 This package contains assorted tools like:
 .
 * blast2saf.pl, blastpgp_to_saf.pl, conv_hssp2saf.pl, copf.pl, hssp_filter.pl,
 runNewPSIC.pl (depends on psic), safFilterRed.pl
 .
 and modules like:
 .
 * RG:Utils::Conv_hssp2saf RG:Utils::Copf RG:Utils::Hssp_filter
